In [12]:
import pandas as pd
import numpy as np

In [13]:
df_movies = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/movies_final.csv')

In [14]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15981 entries, 0 to 15980
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  15981 non-null  int64
 1   Unnamed: 0.1  15981 non-null  int64
 2   Unnamed: 0    15981 non-null  int64
 3   show_id       15981 non-null  object
 4   type          15981 non-null  object
 5   title         15981 non-null  object
 6   director      14123 non-null  object
 7   cast          13262 non-null  object
 8   country       7422 non-null   object
 9   release_year  15981 non-null  int64
 10  duration      15537 non-null  object
 11  listed_in     15981 non-null  object
 12  description   15978 non-null  object
 13  description_  15978 non-null  object
 14  all           15981 non-null  object
 15  sentiment     15981 non-null  object
dtypes: int64(4), object(12)
memory usage: 2.0+ MB

In [15]:
df_movies['release_year'] = df_movies['release_year'].astype('str')

In [21]:
df_movies

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,show_id,type,title,director,cast,country,release_year,duration,listed_in,description,description_,all,sentiment
0,0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm...","as her father nears the end of his life, filmm...",MovieDick Johnson Is DeadKirsten JohnsonnanUni...,POSITIVE
1,1,1,1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,equestria's divided. but a bright-eyed hero be...,MovieMy Little Pony: A New GenerationRobert Cu...,POSITIVE
2,2,2,2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...","on a photo shoot in ghana, an american model s...","MovieSankofaHaile GerimaKofi Ghanaba, Oyafunmi...",POSITIVE
3,3,3,3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,a woman adjusting to life after a loss contend...,MovieThe StarlingTheodore MelfiMelissa McCarth...,POSITIVE
4,4,4,4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,after most of her family is murdered in a terr...,MovieJe Suis KarlChristian SchwochowLuna Wedle...,NEGATIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15976,15976,15976,15976,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...,the man in the hat journeys through france in ...,"MovieThe Man in the HatJohn-Paul Davidson, Ste...",NEGATIVE
15977,15977,15977,15977,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t...","river is a grounded sci-fi mystery thriller, t...","MovieRiverEmily SkyeMary Cameron Rogers, Alexa...",POSITIVE
15978,15978,15978,15978,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...,new york city street principles get an east si...,MoviePride Of The BoweryJoseph H. LewisLeo Gor...,NEGATIVE
15979,15979,15979,15979,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...","in war-torn eastern europe, a world-weary grou...","MovieOutpostSteve BarkerRay Stevenson, Julian ...",POSITIVE
15980,15980,15980,15980,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...","harry brown, starring two-time academy award w...","MovieHarry BrownDaniel BarberMichael Caine, Em...",POSITIVE

In [17]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15981 entries, 0 to 15980
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  15981 non-null  int64
 1   Unnamed: 0.1  15981 non-null  int64
 2   Unnamed: 0    15981 non-null  int64
 3   show_id       15981 non-null  object
 4   type          15981 non-null  object
 5   title         15981 non-null  object
 6   director      14123 non-null  object
 7   cast          13262 non-null  object
 8   country       7422 non-null   object
 9   release_year  15981 non-null  object
 10  duration      15537 non-null  object
 11  listed_in     15981 non-null  object
 12  description   15978 non-null  object
 13  description_  15978 non-null  object
 14  all           15981 non-null  object
 15  sentiment     15981 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.0+ MB

In [22]:
import sqlalchemy
from sqlalchemy import create_engine

In [23]:
DB_SQLITE = 'file_db.db' ##Nombre de como se llamará tu archivo .db

In [24]:
# create table from df
def to_sql_k(self, frame, name, if_exists='fail', 
             index=False, index_label=None, schema=None, 
             chunksize=None, dtype=None, **kwargs):
    if dtype is not None:
        from sqlalchemy.types import to_instance, TypeEngine
        for col, my_type in dtype.items():
            if not isinstance(to_instance(my_type), TypeEngine):
                raise ValueError('The type of %s is not a SQLAlchemy '
                                 'type ' % col)

    table = pd.io.sql.SQLTable(name, self, frame=frame, index=index,
                               if_exists=if_exists, index_label=index_label,
                               schema=schema, dtype=dtype, **kwargs)
    table.create()
    table.insert(chunksize)

In [25]:
# create table sqlite
def to_sqlite(df, name_table):
    engine = create_engine(f'sqlite:///{DB_SQLITE}')
    pandas_sql = pd.io.sql.pandasSQL_builder(engine, schema=None)

    to_sql_k(pandas_sql, frame=df, name=name_table)

In [26]:
to_sqlite(df_movies, 'movies') ### se llama a la función para crear la tabla people en la bbdd con el contenido del df