In [2]:
import pandas as pd
import numpy as np

In [2]:
df_netflix = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/netflix_titles.csv')

In [3]:
df_disney = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/disney_plus_titles.csv')

In [4]:
df_amazon = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/amazon_prime_titles.csv')

In [5]:
df_hulu = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/hulu_titles.csv')

### Netflix

In [6]:
df_netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
df_quitado = df_netflix.drop(['rating', 'date_added'], axis=1)

In [9]:
df_netflix_movies = df_quitado[df_quitado.type == 'Movie']

In [10]:
df_netflix_tvshow = df_quitado[df_quitado.type == 'TV Show']

### Disney

In [11]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [12]:
dfD_quitado = df_disney.drop(['rating', 'date_added'], axis=1)

In [13]:
df_disney_movies = dfD_quitado[dfD_quitado.type == 'Movie']

In [14]:
df_disney_tvshow = dfD_quitado[dfD_quitado.type == 'TV Show']

### Amazon

In [15]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [16]:
df_amazon.describe()

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [17]:
dfA_quitado = df_amazon.drop(['rating', 'date_added'], axis=1)

In [18]:
df_amazon_movies = dfA_quitado[dfA_quitado.type == 'Movie']

In [19]:
df_amazon_tvshow = dfA_quitado[dfA_quitado.type == 'TV Show']

### Hulu

In [20]:
df_hulu.describe()

       cast  release_year
count   0.0   3073.000000
mean    NaN   2012.567524
std     NaN     10.844069
min     NaN   1923.000000
25%     NaN   2010.000000
50%     NaN   2016.000000
75%     NaN   2019.000000
max     NaN   2021.000000

In [21]:
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [22]:
dfH_quitado = df_hulu.drop(['rating', 'date_added'], axis=1)

In [23]:
df_hulu_movies = dfH_quitado[dfH_quitado.type == 'Movie']

In [24]:
df_hulu_tvshow = dfH_quitado[dfH_quitado.type == 'TV Show']

### Movies

In [25]:
df_netflix_movies.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...
6126,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2015,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
6127,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2007,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
6128,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2009,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
6129,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2006,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
6130,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [26]:
df_hulu_movies.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,2020,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,2021,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,2021,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,2021,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...
1479,s2956,Movie,Getting On,NaN,NaN,United Kingdom,2009,NaN,"Comedy, International, Sitcom",Care for the elderly is the least glamorous ar...
1480,s2959,Movie,(Sub) Ninja Scroll,NaN,NaN,Japan,1993,NaN,"Action, Adult Animation, Adventure",When Jubei saves a young ninja woman from the ...
1481,s2960,Movie,Packed to the Rafters,NaN,NaN,Australia,2008,NaN,"Comedy, Drama, International",Packed to the Rafters is an Australian family-...
1482,s2983,Movie,(Sub) Legend of Heroes: Trails in the Sky,NaN,NaN,NaN,2011,84 min,"Anime, International, Science Fiction","Ten years ago, an invasion by the Erebonians a..."
1483,s2994,Movie,Amy Winehouse: A Final Goodbye,NaN,NaN,United Kingdom,2011,NaN,"Documentaries, Music",A Final Goodbye is an intimate look into the l...

In [27]:
df_disney_movies

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2016,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,1988,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2011,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021,41 min,Musical,"This is real life, not just fantasy!"
5,s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,2021,94 min,"Biographical, Documentary",An inside look at the legendary life of advent...
...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom",2009,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada",2009,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States",2016,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States",2003,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2012,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [28]:
df_amazon_movies.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2014,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2018,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2017,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2014,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,1989,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...
7809,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...
7810,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t..."
7811,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...
7812,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
7813,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [29]:
df_movies = pd.concat([df_netflix_movies,df_hulu_movies,df_disney_movies,df_amazon_movies])

In [30]:
df_movies.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...
16476,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...
16477,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t..."
16478,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...
16479,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
16480,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [31]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16481 entries, 0 to 9667
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       16481 non-null  object
 1   type          16481 non-null  object
 2   title         16481 non-null  object
 3   director      14509 non-null  object
 4   cast          13639 non-null  object
 5   country       7867 non-null   object
 6   release_year  16481 non-null  int64
 7   duration      15999 non-null  object
 8   listed_in     16481 non-null  object
 9   description   16478 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.4+ MB

In [32]:
df_movies.describe()

       release_year
count  16481.000000
mean    2009.224562
std       17.168334
min     1920.000000
25%     2008.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [33]:
movies = df_movies.drop_duplicates(['title'], keep='last')

In [34]:
movies = movies.reset_index(drop=True)

In [35]:
movies

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...
15976,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...
15977,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t..."
15978,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...
15979,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
15980,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [214]:
#movies['description'] = movies['description'].apply(lambda _: str(_))

In [50]:
movies['description'] = movies['description'].values.astype(str)

In [65]:
def string_transformer(x):
    return x.strip().lower().replace("!#$%^&*()",' ')

In [66]:
string_transformer('sksKksks ')

'skskksks'

In [67]:
movies['description_'] = movies['description'].apply(string_transformer)

#replace caracteres especiales con espacios

In [430]:
#movies["description"]= movies["description"].values.astype(str)

In [61]:
#def processString(txt): 
   # return txt.replace("!#$%^&*()",' ')

In [62]:
#movies['description_'] = movies['description'].apply(processString)

In [73]:
str in movies.description.values

False

In [63]:
"""for i in movies['description']:
    if i is not str:
        print(type(i))"""


[type(i) for i in x if ]

"for i in movies['description']:\n    if i is not str:\n        print(type(i))"

In [ ]:
#y = [i for i in movies['description'] if i is not str]

In [433]:
len(lista)

15981

In [434]:
set(lista)

{str}

In [435]:
"""for i in movies['description']:
    if 
        print(i)"""

"for i in movies['description']:\n    if \n        print(i)"

In [274]:
#movies['description'] = [eliminar(movies) for i in movies['description']]

In [334]:
#movies = movies.dropna(subset=["description"])
#movies

In [68]:
movies

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description,description_
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm...","as her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,equestria's divided. but a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...","on a photo shoot in ghana, an american model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,a woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,after most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...,...
15976,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...,the man in the hat journeys through france in ...
15977,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t...","river is a grounded sci-fi mystery thriller, t..."
15978,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...,new york city street principles get an east si...
15979,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...","in war-torn eastern europe, a world-weary grou..."
15980,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...","harry brown, starring two-time academy award w..."

In [70]:
movies["all"] = movies["type"].astype(str) + movies["title"].astype(str) + movies["director"].astype(str) + movies["cast"].astype(str) + movies["country"].astype(str) + movies["listed_in"].astype(str) + movies["description_"].astype(str)

In [71]:
movies

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description,description_,all
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,90 min,Documentaries,"As her father nears the end of his life, filmm...","as her father nears the end of his life, filmm...",MovieDick Johnson Is DeadKirsten JohnsonnanUni...
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,equestria's divided. but a bright-eyed hero be...,MovieMy Little Pony: A New GenerationRobert Cu...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...","on a photo shoot in ghana, an american model s...","MovieSankofaHaile GerimaKofi Ghanaba, Oyafunmi..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,a woman adjusting to life after a loss contend...,MovieThe StarlingTheodore MelfiMelissa McCarth...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,after most of her family is murdered in a terr...,MovieJe Suis KarlChristian SchwochowLuna Wedle...
...,...,...,...,...,...,...,...,...,...,...,...,...
15976,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,2021,96 min,Comedy,The Man in the Hat journeys through France in ...,the man in the hat journeys through france in ...,"MovieThe Man in the HatJohn-Paul Davidson, Ste..."
15977,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,2021,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t...","river is a grounded sci-fi mystery thriller, t...","MovieRiverEmily SkyeMary Cameron Rogers, Alexa..."
15978,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,1940,60 min,Comedy,New York City street principles get an East Si...,new york city street principles get an east si...,MoviePride Of The BoweryJoseph H. LewisLeo Gor...
15979,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...","in war-torn eastern europe, a world-weary grou...","MovieOutpostSteve BarkerRay Stevenson, Julian ..."
15980,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...","harry brown, starring two-time academy award w...","MovieHarry BrownDaniel BarberMichael Caine, Em..."

In [72]:
movies.to_csv('movies_all.csv')

### TV Show

In [75]:
df_hulu_tvshow.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
1,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
2,s9,TV Show,Queens,NaN,NaN,NaN,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
3,s10,TV Show,The Bachelorette,NaN,NaN,United States,2003,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...
4,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...
...,...,...,...,...,...,...,...,...,...,...
1584,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,1966,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
1585,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,1997,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
1586,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,2011,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
1587,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,1959,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
1588,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,2009,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [76]:
df_netflix_tvshow.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...
2671,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2015,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
2672,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2016,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
2673,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2016,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
2674,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2012,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
2675,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [77]:
df_disney_tvshow.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
1,s7,TV Show,Hawkeye,NaN,"Jeremy Renner, Hailee Steinfeld, Vera Farmiga,...",NaN,2021,1 Season,"Action-Adventure, Superhero",Clint Barton/Hawkeye must team up with skilled...
2,s8,TV Show,Port Protection Alaska,NaN,"Gary Muehlberger, Mary Miller, Curly Leach, Sa...",United States,2015,2 Seasons,"Docuseries, Reality, Survival",Residents of Port Protection must combat volat...
3,s9,TV Show,Secrets of the Zoo: Tampa,NaN,"Dr. Ray Ball, Dr. Lauren Smith, Chris Massaro,...",United States,2019,2 Seasons,"Animals & Nature, Docuseries, Family",A day in the life at ZooTampa is anything but ...
4,s14,TV Show,"Dr. Oakley, Yukon Vet",NaN,"Dr. Michelle Oakley, Zachary Fine",United States,2013,10 Seasons,"Action-Adventure, Animals & Nature, Docuseries","Meet Dr. Michelle Oakley, vet to pretty much e..."
...,...,...,...,...,...,...,...,...,...,...
393,s1418,TV Show,X-Men: Evolution,NaN,"Noel Fisher, Vincent Gale, Christopher Judge, ...",United States,2000,4 Seasons,"Action-Adventure, Animation, Kids",X-Men: Evolution features the team as teenager...
394,s1435,TV Show,Smart Guy,NaN,"Tahj Mowry, John Jones, Jason Weaver, Essence ...",United States,1996,3 Seasons,"Comedy, Coming of Age, Kids",A genius tries to fit in as a high school soph...
395,s1440,TV Show,Disney Kirby Buckets,NaN,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,2014,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.
396,s1441,TV Show,Disney Mech-X4,NaN,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,2016,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...
397,s1442,TV Show,Imagination Movers,NaN,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,2008,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J..."

In [78]:
df_amazon_tvshow.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s18,TV Show,Zoo Babies,NaN,Narrator - Gillian Barlett,NaN,2008,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...
1,s19,TV Show,Zoë Coombs Marr: Bossy Bottom,NaN,Zoë Coombs Marr,NaN,2020,1 Season,"Comedy, Talk Show and Variety",Zoë Coombs Marr has been on hiatus. Sort of. F...
2,s21,TV Show,Zoboomafoo,NaN,NaN,NaN,2001,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...
3,s22,TV Show,Zo Zo Zombie: Mini-Series,NaN,"Alex Cazares, Ben Diskin, Cristina Vee, Erika ...",NaN,2020,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ..."
4,s24,TV Show,ZeroZeroZero,NaN,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",Italy,2020,1 Season,TV Shows,ZeroZeroZero series follows the journey of a c...
...,...,...,...,...,...,...,...,...,...,...
1849,s9652,TV Show,Glass Room,NaN,"Elizaveta Maiskaya, Vsevolod Boldin, Alexander...",NaN,2019,1 Season,Drama,Geography teacher Elena lives with her husband...
1850,s9656,TV Show,DaFUNdamentals Series,NaN,"Emile Crawford, Randall Crawford, Jon Ward",NaN,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch..."
1851,s9662,TV Show,Terrahawks,NaN,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",NaN,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry..."
1852,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
1853,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."

In [79]:
df_tvshow = pd.concat([df_hulu_tvshow,df_netflix_tvshow,df_disney_tvshow,df_amazon_tvshow])

In [80]:
df_tvshow.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
1,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
2,s9,TV Show,Queens,NaN,NaN,NaN,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
3,s10,TV Show,The Bachelorette,NaN,NaN,United States,2003,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...
4,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...
...,...,...,...,...,...,...,...,...,...,...
6512,s9652,TV Show,Glass Room,NaN,"Elizaveta Maiskaya, Vsevolod Boldin, Alexander...",NaN,2019,1 Season,Drama,Geography teacher Elena lives with her husband...
6513,s9656,TV Show,DaFUNdamentals Series,NaN,"Emile Crawford, Randall Crawford, Jon Ward",NaN,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch..."
6514,s9662,TV Show,Terrahawks,NaN,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",NaN,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry..."
6515,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
6516,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."

In [81]:
TV_shows = df_tvshow.drop_duplicates(['title'], keep='last')

In [82]:
TV_shows.reset_index(drop=True)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
0,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
1,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
2,s9,TV Show,Queens,NaN,NaN,NaN,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
3,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...
4,s14,TV Show,Wakefield,NaN,NaN,NaN,2021,1 Season,"Drama, Mystery",With a gift for soothing the afflicted and rea...
...,...,...,...,...,...,...,...,...,...,...
6256,s9652,TV Show,Glass Room,NaN,"Elizaveta Maiskaya, Vsevolod Boldin, Alexander...",NaN,2019,1 Season,Drama,Geography teacher Elena lives with her husband...
6257,s9656,TV Show,DaFUNdamentals Series,NaN,"Emile Crawford, Randall Crawford, Jon Ward",NaN,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch..."
6258,s9662,TV Show,Terrahawks,NaN,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",NaN,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry..."
6259,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
6260,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."

In [83]:
TV_shows.drop([711, 8708, 8726, 8727, 8728, 8752,8753, 8759, 8760, 8761, 8762,8763, 8764],axis=0)

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description
5,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
7,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
8,s9,TV Show,Queens,NaN,NaN,NaN,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
10,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...
13,s14,TV Show,Wakefield,NaN,NaN,NaN,2021,1 Season,"Drama, Mystery",With a gift for soothing the afflicted and rea...
...,...,...,...,...,...,...,...,...,...,...
9651,s9652,TV Show,Glass Room,NaN,"Elizaveta Maiskaya, Vsevolod Boldin, Alexander...",NaN,2019,1 Season,Drama,Geography teacher Elena lives with her husband...
9655,s9656,TV Show,DaFUNdamentals Series,NaN,"Emile Crawford, Randall Crawford, Jon Ward",NaN,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch..."
9661,s9662,TV Show,Terrahawks,NaN,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",NaN,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry..."
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."

In [95]:
str in TV_shows.description.values

False

In [96]:
TV_shows['description'] = TV_shows['description'].values.astype(str)

/var/folders/nr/c9s62s617y19j9y8cd0wk75c0000gn/T/ipykernel_25548/3919054299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TV_shows['description'] = TV_shows['description'].values.astype(str)

In [93]:
TV_shows['description_'] = TV_shows['description'].apply(string_transformer)

/var/folders/nr/c9s62s617y19j9y8cd0wk75c0000gn/T/ipykernel_25548/524192843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TV_shows['description_'] = TV_shows['description'].apply(string_transformer)

In [100]:
TV_shows

,show_id,type,title,director,cast,country,release_year,duration,listed_in,description,all,description_
5,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...,TV ShowThe Halloween Candy Magic PetnannannanF...,join mila and morphle on a mystery-filled hall...
7,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...,TV ShowThe Next Thing You EatnannannanCooking ...,with the unique insights and experience of ugl...
8,s9,TV Show,Queens,NaN,NaN,NaN,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...,"TV ShowQueensnannannanDrama, MusicFour women i...",four women in their 40s reunite for a chance t...
10,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...,TV ShowThe Real Queens of Hip-Hop: The Women W...,the abc news special explores the inspiring ri...
13,s14,TV Show,Wakefield,NaN,NaN,NaN,2021,1 Season,"Drama, Mystery",With a gift for soothing the afflicted and rea...,"TV ShowWakefieldnannannanDrama, MysteryWith a ...",with a gift for soothing the afflicted and rea...
...,...,...,...,...,...,...,...,...,...,...,...,...
9651,s9652,TV Show,Glass Room,NaN,"Elizaveta Maiskaya, Vsevolod Boldin, Alexander...",NaN,2019,1 Season,Drama,Geography teacher Elena lives with her husband...,"TV ShowGlass RoomnanElizaveta Maiskaya, Vsevol...",geography teacher elena lives with her husband...
9655,s9656,TV Show,DaFUNdamentals Series,NaN,"Emile Crawford, Randall Crawford, Jon Ward",NaN,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch...","TV ShowDaFUNdamentals SeriesnanEmile Crawford,...","learn ""dafundamentals"" through song and fun ch..."
9661,s9662,TV Show,Terrahawks,NaN,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",NaN,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry...","TV ShowTerrahawksnanDENISE BRYER, WINDSOR DAVI...","this thrilling, action-packed series saw gerry..."
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...","TV ShowPlanet PatrolnanDICK VOSBURGH, RONNIE S...","this is earth, 2100ad - and these are the adve..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",TV ShowMaradona: Blessed DreamnanEsteban Recag...,"the series tells the story of diego maradona, ..."

In [91]:
TV_shows["all"] = TV_shows["type"].astype(str) + TV_shows["title"].astype(str) + TV_shows["director"].astype(str) + TV_shows["cast"].astype(str) + TV_shows["country"].astype(str) + TV_shows["listed_in"].astype(str) + TV_shows["description"].astype(str)

/var/folders/nr/c9s62s617y19j9y8cd0wk75c0000gn/T/ipykernel_25548/3816316269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TV_shows["all"] = TV_shows["type"].astype(str) + TV_shows["title"].astype(str) + TV_shows["director"].astype(str) + TV_shows["cast"].astype(str) + TV_shows["country"].astype(str) + TV_shows["listed_in"].astype(str) + TV_shows["description"].astype(str)

In [101]:
TV_shows.to_csv('tv_shows_all.csv')

###Movies

In [3]:
movies = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/emovies_final.csv')

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15981 entries, 0 to 15980
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  15981 non-null  int64
 1   Unnamed: 0    15981 non-null  int64
 2   show_id       15981 non-null  object
 3   type          15981 non-null  object
 4   title         15981 non-null  object
 5   director      14123 non-null  object
 6   cast          13262 non-null  object
 7   country       7422 non-null   object
 8   release_year  15981 non-null  int64
 9   duration      15537 non-null  object
 10  listed_in     15981 non-null  object
 11  description   15978 non-null  object
 12  description_  15978 non-null  object
 13  all           15981 non-null  object
 14  sentiment     15981 non-null  object
dtypes: int64(3), object(12)
memory usage: 1.8+ MB

In [6]:
movies['release_year'] = movies['release_year'].values.astype(str)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15981 entries, 0 to 15980
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  15981 non-null  int64
 1   Unnamed: 0    15981 non-null  int64
 2   show_id       15981 non-null  object
 3   type          15981 non-null  object
 4   title         15981 non-null  object
 5   director      14123 non-null  object
 6   cast          13262 non-null  object
 7   country       7422 non-null   object
 8   release_year  15981 non-null  object
 9   duration      15537 non-null  object
 10  listed_in     15981 non-null  object
 11  description   15978 non-null  object
 12  description_  15978 non-null  object
 13  all           15981 non-null  object
 14  sentiment     15981 non-null  object
dtypes: int64(2), object(13)
memory usage: 1.8+ MB

In [8]:
movies.to_csv('movies_final.csv')

###TV-Shows

In [10]:
tv_show = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/tv_show_final.csv')

In [11]:
tv_show.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6261 entries, 0 to 6260
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  6261 non-null   int64
 1   Unnamed: 0    6261 non-null   int64
 2   show_id       6261 non-null   object
 3   type          6261 non-null   object
 4   title         6261 non-null   object
 5   director      227 non-null    object
 6   cast          3965 non-null   object
 7   country       3426 non-null   object
 8   release_year  6261 non-null   int64
 9   duration      6261 non-null   object
 10  listed_in     6261 non-null   object
 11  description   6260 non-null   object
 12  all           6261 non-null   object
 13  description_  6260 non-null   object
 14  sentiment     6261 non-null   object
dtypes: int64(3), object(12)
memory usage: 733.8+ KB

In [13]:
tv_show['release_year'] = tv_show['release_year'].values.astype(str)

In [14]:
tv_show.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6261 entries, 0 to 6260
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  6261 non-null   int64
 1   Unnamed: 0    6261 non-null   int64
 2   show_id       6261 non-null   object
 3   type          6261 non-null   object
 4   title         6261 non-null   object
 5   director      227 non-null    object
 6   cast          3965 non-null   object
 7   country       3426 non-null   object
 8   release_year  6261 non-null   object
 9   duration      6261 non-null   object
 10  listed_in     6261 non-null   object
 11  description   6260 non-null   object
 12  all           6261 non-null   object
 13  description_  6260 non-null   object
 14  sentiment     6261 non-null   object
dtypes: int64(2), object(13)
memory usage: 733.8+ KB

In [16]:
tv_show.to_csv('tv_final.csv')